<p style="color: green"><%= notice %></p>

<h1>Enrolls</h1>

<div id="enrolls">
  <% @enrolls.each do |enroll| %>
    <%= render enroll %>
    <p>
      <%= enroll.student_id %>
      <%= enroll.course_id %>>
      <%= link_to "Show this enroll", enroll %>
    </p>
  <% end %>
</div>

<%= link_to "New enroll", new_enroll_path %>
