<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<h1>Welcome</h1>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/students/new', method: :get%>

<!--
<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>
-->


<%= link_to "New student", new_student_path %>
